body{
  background: #000;
  color: #fff;
}
p{
 margin: 0;
}
.vidfish-back{
  width: 44px;
  height: 29px;
  overflow: hidden;
  position: absolute;
  top: 70px;
  left: 20px;
  z-index: 9;
  img{
    width: 100%;
  }

}